/*-------------------------
    Footer
--------------------------*/
.footer {
    .footer-primary {
        padding-top: 85px;
        padding-bottom: 60px;
        background-color: #2B2E34;
    }

    .footer-secondary {
        position: relative;
        padding: 30px 0;
        background-color: $color-white;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50px;
            right: 50px;
            height: 5px;
            background-color: $color-primary;
        }
    }

    [class*="footer-widget"] {
        margin-bottom: 30px;
    }

    .footer-widget__title {
        color: $color-white;
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    .contact-list li {
        line-height: 26px;
        margin-bottom: 0;
    }

    .footer-widget-contact {
        position: relative;
        overflow: hidden;
        padding: 40px;
        border-radius: 15px;
        background-color: $color-white;

        &:before {
            content: "\e916";
            font-family: icomoon;
            position: absolute;
            right: -30px;
            bottom: -15px;
            font-size: 170px;
            line-height: 1;
            color: rgba(40, 59, 106, 0.05);
            transform: rotate(-20deg);
            z-index: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 0;
            width: 3px;
            background-color: $color-primary;
        }
    }

    .footer-widget-nav li a {
        display: block;
        position: relative;
        color: $color-body;
        font-size: 14px;
        margin-bottom: 11px;

        &:hover {
            color: $color-primary;
        }
    }

    .footer__copyright-links li {
        a {
            color: $color-body;
            display: block;
            margin-right: 25px;
            padding: 3px 0;

            &:hover {
                color: $color-primary;
            }
        }

        &:last-child a {
            margin-right: 0;
        }
    }

    .phone__number {
        margin: 20px 0;
    }
}

.phone__number {
    display: inline-flex;
    align-items: center;
    font-family: $font-heading;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #2B2E34 !important;

    &:hover {
        color: $color-primary !important;
    }

    i {
        margin-right: 7px;
    }
}

/* Scroll Top Button */
#scrollTopBtn {
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    opacity: 0;
    z-index: 1000;
    font-size: 18px;
    border-radius: 50%;
    color: $color-white;
    background-color: $color-primary;
    overflow: hidden;
    @include prefix(transition, all .3s ease-in-out, webkit moz ms o);

    &:hover {
        background-color: $color-dark;
    }

    &.actived {
        right: 30px;
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .footer {

        .footer-widget-nav,
        .footer-widget-about {
            margin-top: 20px;
        }
    }
}

/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 1200px) {
    .footer {
        .footer-primary {
            padding-top: 35px;
            padding-bottom: 30px;
        }

        .footer-secondary {
            padding: 20px 0;

            &:after {
                left: 20px;
                right: 20px;
                height: 3px;
            }
        }

        .footer-widget-contact {
            padding: 20px;

            &:after {
                top: 20px;
                bottom: 20px;
            }
        }

        .footer-widget {
            margin-bottom: 20px;
        }

        .footer-widget__title {
            margin-bottom: 15px;
        }

        .footer-widget-nav li a {
            font-size: 13px;
        }

        .phone__number {
            margin: 10px 0;
        }
    }
    .footer-menu-list{
        padding: 0px !important;
    }
}

/* Mobile Phones */
@include xs-sm-screens {
    .footer .footer__copyright-links {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    #scrollTopBtn {
        bottom: 20px;
        width: 30px;
        height: 30px;
        font-size: 14px;

        &.actived {
            right: 20px;
        }
    }
}

section.footer{background-color: black; 
    padding: 5px 0px !important;}
  section.footer footer{display: flex;flex-wrap: wrap; align-items: center;flex-direction: row;padding:1.4722vw 3.125vw; }
section.footer footer .logo{flex:1}
section.footer footer .footer-menu{flex:0 0 50.555vw;text-align: center;}
section.footer footer .footer-menu ul{list-style: none;}
section.footer footer .footer-menu ul li{display: inline-block;}
section.footer footer .footer-menu ul li:not(:last-of-type){margin-right: 1.388vw;}
section.footer footer .footer-menu ul li:not(:first-of-type){margin-left: 1.388vw}
section.footer footer .footer-menu ul li a,section.footer footer .footer-menu ul li a:hover{color: #fff;text-decoration: none;position: relative;font-family:Silka ;font-size:1.54166vw;}
section.footer footer .footer-menu ul li a:hover{color: #8b8172;}
section.footer footer .footer-menu ul li:not(:last-of-type) a:after{position:absolute;content:"";background:#99815a; height:0.4166vw;right:-1.788vw;width: 0.4166vw;border-radius: 50%;bottom: 0.4166vw;}
section.footer footer .footer-contact{flex:1;color:#fff; text-align: center;}
section.footer footer .footer-contact a:hover{flex:1;color:#fff;}

section.footer footer .footer-contact i {flex:1;color:#8b8172;}

section.footer footer .footer-contact span {display: inline-block;vertical-align: middle; color: #fff;}
section.footer footer .footer-contact span:last-of-type {border-bottom: 1px solid #af9366;}
section.footer footer .footer-contact .fab {color: aliceblue;}
section.footer footer .footer-contact ul {margin: auto;}


section.footer footer .copy-write{flex:0 0 100vh; font-size: 18px;}
section.footer footer .copy-write p{color: #fff;margin-top: 1.736vw;font-family: Silka;font-size: 0.9722vw;}
