// Sass Variables
//$color-primary: #8b8172;
//$color-secondary: #213360;
// $color-heading: #0e204d;
// $color-body: #848e9f;
// $color-dark: #222222;
// $color-black: #000000;
// $color-gray: #f9f9f9;
// $color-white: #ffffff;

$color-primary: #B08968;
$color-secondary: #030303;
$color-heading: #2B2E34;
$color-body: #8b8172;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading:  'Spectral', serif;

$font-body:  'Silka', sans-serif;

$body-font-size: 14px;

// new color formats
// $color-primary: #aba89a;
// $color-secondary: #E4B7A0;
// $color-heading: #b46e59;
// $color-body: #848e9f;
// $color-dark: #222222;
// $color-black: #000000;
// $color-gray: #f9f9f9;
// $color-white: #ffffff;
